@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*header*/

/*header1*/

.header {
    width: 100%;
}

.header-main {
    width: 1170px;
    height: 140px;
    margin: 0 auto;
}

.header-1 {
    background-color: #292929;
    height: 30px;
    display: flex;
}

.header-1 a {
    color: white;
}

.header-contatos {
    padding: 5px;
    width: 30%;
}

.header-contatos a {
    vertical-align: middle;
}

.header-sociais {
    width: 54%;
}

.header-sociais li {
    display: inline-block;
    margin: 0;
}

.header-sociais a {
    padding: 4px;
    border: 1px solid white;
    background-color: white;
}

.header-sociais nav {
    margin: 4px 0 0 510px;
}

.header-login-registro {
    margin-top: 5px;
    width: 16%;
    float: right;
}


.header-login-registro li {
    display: inline-block;
    margin: 0;
}

.header-login-registro a {
    margin-right: 10px;
}

.header-login-registro nav {
    margin-left: 60px;
}

/*header2*/

.header-2 {
    background-color: white;
    height: 110px;
    font-size: 20px;
}

.header-2 nav {
    margin: 0 auto;
    width: 1130px;
}

.header-2 li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.header-2 a {
    color: #2a2a2a;
    padding: 15px;
}

.header-2 img {
    width: 180px;
}

/* shop now */

.shop {
    background-color: #f9f9f9;
    display: flex;
}

.shop-main {
    width: 1170px;
    height: 450px;
    margin: 0 auto;
}

.shop-left {
    width: 670px;
    height: 100%;
    float: left;
}

.shop-left h1 {
    color: #d3995f;
    font-size: 55px;
    margin-left: 60px;
}

.shop-left p {
    color: #686868;
    font-size: 18px;
    margin-left: 60px;
    padding-bottom: 30px;
}

.shop-left a {
    color: #2a2a2a;
    padding: 10px 20px;
    border: 1px solid #d3995f;
    font-size: 20px;
    margin-left: 60px;
}

.shop-right {
    width: 500px;
    height: 100%;
    float: right;
}

.shop-right-img {
    background-color: #eeeeec;
    width: 345px;
    height: 450px;
    margin-left: 46px;
}

.shop-right-img img {
    width: 345px;
    height: 450px;
}

/*header 3 - search, cart ...*/

.header-3 {
    background-color: #292929;
    width: 100%;
    height: 60px;
    display: flex;
}

.header-3-main {
    margin: 0 auto;
    width: 1170px;
    height: 100%;
    align-content: center;
}

.header-3-1 a, .header-3-2 a {
    color: white;
}

.header-3-1 {
    width: 15%;
    float: left;
    padding: 5px;
    display: flex;
}

.header-3-1 li {
    display: inline-block;
}

.header-3-1 a {
    padding: 10px;
}

.header-3-2 {
    width: 50%;
    float: center;
    padding: 5px;
    display: flex;
}

.header-3-2 nav {
    margin-left: 100px;
}

.header-3-2 li {
    display: inline-block;
    margin-left: 25px;
}

.header-3-3 {
    float: right;
    display: flex;
}

input {
    width: 100px;
    display: inline-block;
}

/*popular now*/

.polupar-now {
    height: 222px;

}

.popular-now-main {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.popular-now-main h1 {
    text-align: center;
    color: #d3995f;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.popular-now-main nav {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.popular-now-main li {
    display: inline-block;
    margin: 0 20px;
}

.popular-now-main ul {
    margin: 0;
    padding: 0;
}

.popular-now-main a {
    color: #2a2a2a;
}

/*ofertas*/

.ofertas {
    width: 1170px;
    height: 460px;
}

.ofertas p {
    color: #d3995f;
    font-size: 16px;
}

.ofertas li {
    display: inline-block;
    width: 270px;
    margin: 0 auto;
    padding: 0 9.7px;
}

.ofertas h2 {
    color: #2a2a2a;
    font-size: 16px;
}

/*NEW COLLECTION*/

.new-collection {
    background-color: #f9f9f9;
}

.new-collection main {
    width: 1170px;
    height: 670px;
    margin: 0 auto;
}

.new-collection-1 {
    height: 362px;
    text-align: center;
}

.new-collection-1 h1 {
    color: #d3995f;
    font-size: 30px;
    padding-top: 55px;
}

.new-collection-1 p {
    color: #686868;
    padding-top: 20px;
    padding-bottom: 50px;
}

.new-collection-1 a {
    border: 1px solid #d3995f;
    color: #2a2a2a;
    font-size: 20px;
    padding: 10px 15px;
}

.new-collection-2 {
    margin: 0 auto;
}

.new-collection-2 li {
    display: inline-block;
    padding: 0 4.7px;
}

.new-collection-2 div {
    display: inline-block;
    width: 270px;
}

.new-collection-2 h2 {
    color: #2a2a2a;
    font-size: 16px;
    float: left;
    padding-top: 4px;
    margin-left: 15px;
}

.new-collection-2 p {
    color: #d3995f;   
    float: right; 
    padding: 0 3px 0 0;
}

/*SEASON SALE*/

.season-sale {
    background-color: #292929;
    height: 300px;
    text-align: center;
    margin: 0;
}

.season-sale h1 {
    color: #d3995f;
    font-size: 30px;
    padding-top: 95px;
    margin: 0;
}

.season-sale p {
    color: white;
    font-size: 50px;
    margin: 0;
}

/*newsletter*/

.newsletter {
    width: 100%;
    height: 115px;
    background-color: #f9f9f9;
    display: inline-block;
}

.newsletter p {
    margin: 0;
    float: left;
    color: #2a2a2a;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 300px;
}

.newsletter a {
    float: right;
    font-size: 20px;
    color: white;
    border: 1px solid #d3995f;
    background-color: #d3995f;
    padding: 10px 20px;
    margin-top: 40px;
    margin-right: 300px;
}

/*our collection*/

.our-collection {
    height: 1206px;
    width: 100%;
}

.our-collection main {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.our-collection-1 {
    width: 100%;
    height: 239px;
}

.our-collection-1-1 {
    float: left;
    width: 700px;
    height: 100%;
}

.our-collection-1-1 h1 {
    color: #d3995f;
    font-size: 30px;
    padding-top: 45px;
}

.our-collection-1-1 p {
    color: #686868;
}

.our-collection-1-2 {
    width: 470px;
    height: 100%;
    float: right;
}

.our-collection-1-2 li {
    display: inline-block;
}

.our-collection-1-2 a {
    border: 1px solid #d3995f;
    color: #2a2a2a;
    padding: 10px 15px;
}

.our-collection-1-2 nav {
    padding: 125px 0 0 124px;
}

/*our-collection-2*/

.our-collection-2 li {
    display: inline-block;
    text-align: center;
    height: 425px;
    padding: 0 9.7px;
}

.our-collection-2 h2 {
    color: #2a2a2a;
    font-size: 16px;
}

.our-collection-2 p {
    color: #d3995f;
}

.our-collection-2-a a {
    color: #2a2a2a;
}

.our-collection-2-a {
    border: 1px solid #d3995f;
    padding: 10px 20px;
}

.our-collection-2-a {
    width: 120px;
    text-align: center;
    margin: 20px auto;
    color: #2a2a2a;
}

/*story behind*/

.story-behind {
    width: 100%;
    display: inline-block;
    background-color: #f9f9f9;
}

.story-behind main {
    width: 1170px;
    height: 510px;
    margin: 0 auto;
}

.story-behind-left {
    width: 570px;
    height: 100%;
    background-color: #eeeeec;
    float: left;
}

.story-behind-right {
    width: 600px;
    height: 100%;
    float: right;
}

.story-behind-right h1{
    color: #2a2a2a;
    margin: 60px 0 40px 120px;
}

.story-behind-right-gabooo {
    color: #d3995f;
    border: 3px solid #d3995f;
    font-size: 22px;
    letter-spacing: 5px;
    padding: 6px 10px;
    margin: 0 0 0 120px;
}

.story-behind-right p {
    color: #686868;
    line-height: 25px;
    margin: 40px 0 50px 120px;
}

.story-behind-right-contact {
    border: 1px solid #d3995f;
    color: #2a2a2a;
    font-size: 20px;
    padding: 10px 30px;
    margin-left: 120px;
}

/*footer*/
.footer nav, ul, li, p{
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #2a2a2a;
    width: 100%;
    height: 355px;
}

.footer main{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.footer div {
    display: inline-block;
}

.footer-1 {
    width: 400px;
    float: left;
}

.footer-1-gabooo {
    margin-top: 70px;
}

.footer-1-gabooo a {
    color: #d3995f;
    border: 3px solid #d3995f;
    padding: 8px 15px;
    letter-spacing: 5px;
}

.footer-1 p {
    color: white;
    line-height: 25px;
    margin-top: 40px;
    width: 380px;
}

.footer-1 pre {
    color: white;
    line-height: 25px;
    margin-top: 30px;
}

.footer-1 pre a {
    color: #d3995f;
}

.footer-2 {
    width: 200px;
    float: left;
}

.footer-2 p {
    color: white;
    font-size: 22px;
    margin-top: 57px;
}

.footer-2 a {
    color: white;
    font-size: 18px;
}

.footer-2 nav, li {
    margin-top: 16px;
}

.footer-3 {
    width: 200px;
    float: left;
}

.footer-3 p {
    color: white;
    font-size: 22px;
    margin-top: 57px;
}

.footer-3 a {
    color: white;
    font-size: 18px;
}

.footer-4 {
    width: 370px;
    height: 100%;
}

.footer-4-1-p1 {
    margin-top: 57px;
    color: white;
    font-size: 22px;
}

.footer-4-1-p2 {
    color: white;
    line-height: 25px;
    margin-top: 15px;
}

.footer-4-1 a {
    color: white;
    font-size: 20px;
    border: 2px solid #d3995f;
    padding: 10px 87px;
}

.footer-4-1 li {
    margin: 40px 0 30px 0;
}

.footer-4-2 li {
    display: inline-block;
    margin-left: 2px;
}

.footer-4-2 a {
    padding: 5px;
    border: 1px solid #d3995f;
    background-color: #d3995f;
}

.footer-4-2 li {
    margin-right: 5px;
}